<h1>Questions#index</h1>

<% if @questions %>
    <% @questions.each do |q| %>
        <%#= link_to q.category.name, category_path(q.category) %>
        <%= q.category.name %>
        <ul>
        <% q.category.questions.each do |q| %>
            <li><%= link_to q.title, question_path(q) %> by <%= q.user.username %> <%= link_to "Help Answer", question_answers_path(q) %> </li>
        <% end %>
        </ul>
    <% end %>
<% end %>

 

 <%= link_to 'New Question', new_question_path %>






