 
 

  <div class="col text-center">
   <h3>Questions</h3>
  </div>

  <div class="row">

    <div class="questions-today col-md-3">
        <div class="card">
            <div class="card-header text-center">
              <h4>New today </h4>
            </div>
            <div class="card-body">
              <% if @questions_today.any? %>
                <%= render partial: 'question', collection: @questions_today %>
              <% else %>
                <p>None </p>
              <% end %> 
            </div>
        </div>
    </div>

    <div class="questions-unanswered col-md-3">
      <div class="card">
        <div class="card-header text-center">  
          <h4>Unanswered questions </h4>
        </div>
        <div class="card-body">
          <% if @questions_unanswered.any? %>
            <%= render partial: 'question', collection: @questions_unanswered %>
          <% else %>
            <p> None </p>
          <% end %>  
        </div>
      </div>
    </div>

  
  <div class="questions-newest col-md-3">
    <div class="card">
      <div class="card-header text-center">  
        <h4>Most liked questions </h4>
      </div>
      <div class="card-body">
        <% if @questions_most_likes %>
          <%= render partial: 'question', collection: @questions_most_likes %>
        <% else %>
          <p>None </p>
        <% end %>
    </div>
    </div>
  </div>

<!--
    <div class="questions-popular col-md-3">
      <div class="card">
        <div class="card-header text-center">   
          <h4>Most answered questions </h4>
        </div>

        <div class="card-body">
          <% if @questions_most_popular.any? %>
            <%= render partial: 'question', collection: @questions_most_popular %>
          <% else %>
            <p>None </p>
          <% end %>
        </div>
      </div>
    </div>
-->


    <div class="questions-newest col-md-3">
      <div class="card">
        <div class="card-header text-center">  
          <h4>All questions </h4>
        </div>
        <div class="card-body">
          <% if @questions.order_newest.any? %>
            <%= render partial: 'question', collection: @questions.order_newest %>
          <% else %>
            <p>None </p>
          <% end %>
        </div>
      </div>
    </div>


   
 


   

