<div class="col-md-10 col-md-offset-1">

 <%= @question.user.username %> asked <%= time_ago_in_words(@question.created_at) %> ago.

<div class="well">
    <h4><%= @question.category.name %> Question: </h4>
    <p> <%= @question.title %> </p>
    <h4>Description: </h4>
    <p> <%= @question.description %> </p>
</div>
 
<%= render 'answers/comments' %>
 

<%= render 'answers/form' %>

<% if @question.user_id == current_user.id %>
    <%= link_to "Edit Question", edit_question_path(@question) %>
    <%= link_to "Delete Question", question_path(@question), method: :delete, data: { confirm: "Are you sure?" } %>
 
<% end %>

</div>