<!--<h1>Question#show</h1> -->
<h5> <%= @question.user.username %> asked <%= time_ago_in_words(@question.created_at) %> ago </h5>

<h4>Category: <%= @question.category.name %></h4>

<h4>Question: <%= @question.title %> </h4>
<h4>Description: <%= @question.description %></h4>

<%= render 'answers/comments' %>


<%= render 'answers/form' %>

<% if @question.user_id == current_user.id %>
    <%= link_to "Edit Question", edit_question_path(@question) %>
<% end %>

