<h1>Question#show</h1>
 
<h4>Category: <%= @question.category.name %></h4>
<h4>Question: <%= @question.title %> by <%= @question.user.username %></h4>
<h4>Description: <%= @question.description %></h4>

 
<% if @question.user_id == current_user.id %>
    <%= link_to "Edit Question", edit_question_path(@question) %>
<% end %>

