<div class="col-md-10 col-md-offset-1">
 
<h3> <%= current_user.username %>'s Page </h3>
<br>

<h4> My activities by category </h4>
<%= render @categories %>
<br>

<h4> Questions that I answered </h4>
<%= render partial: 'questions/question', collection: @answered_questions %>
<br>

<h4> My open questions</h4>
<%= render partial: 'questions/question', collection: @my_questions.unanswered %>
<br>

<h4> Questions I liked:</h4>
<%= render partial: 'questions/question', collection: @my_likes %>
<br>

 
 </div>