<div class="col-md-10 col-md-offset-1">

    <h4>Admin Dashboard Panel </h4>

    Number of <%= link_to "Categories", admin_categories_path %>: <%= @categories.count %> <br>

    Number of <%= link_to "Users", admin_users_path %>: <%= @users.count %> <br>
    Number of <%= link_to "Questions and Answers", admin_questions_path %>: <%= @questions.count %> questions and <%= @answers.count %> answers <br>

 </div>