<div class="col-md-10 col-md-offset-1">

    <h4>Admin Dashboard Panel </h4>

    Number of users <%= @users.count %> <br>
    Number of questions <%= @questions.count %> <br>
    Number of categories <%= @categories.count %> <br>
    Number of answers <%= @answers.count %> <br>

    <%= link_to "Admin Categories", admin_categories_path %>
</div>