<div class="col-md-10 col-md-offset-1">
<!-- questions/question_id/answers/id -->

    <div class="well">

    <p> <strong>Asked by:</strong> <%= @answer.question.user.username %> on <%= display_datetime(@question.created_at) %></p>
    <p> <strong>Question:</strong>  <%= @answer.question.title %> </p>
    <p> <strong>Description:</strong>  <%= @answer.question.description %> </p>
    <p> <strong>Tags:</strong>  <%= @answer.question.tag_list %> </p>

    <br>
    
    <% if logged_in? && @answer.user_id == current_user.id  %>
        <%= render partial: 'form', locals: {answer: @answer , submit_text: "Edit Answer"} %> <br/>
        <%= link_to "Delete Answer", question_answer_path(@question, @answer), class: "btn btn-warning" , method: :delete, data: { confirm: "Are you sure?" } %>
  
    <% else %>
        <p> <strong>Answered by:</strong>  <%= @answer.user.username %> <%= display_datetime(@answer.created_at) %></p>
        <%= @answer.comment %>

    <% end %>

    </div>
</div>

 